<?xml version="1.0"?>
<launch>
    <arg name="control_type" default="web" />
        <node pkg="trionix_new" type="guppy_hat.py" name="hat" respawn="true" output="screen">
           <remap from="/thrusters_3" to="/thrusters/back_right"/>
           <remap from="/thrusters_1" to="/thrusters/front_horizontal"/>
           <remap from="/thrusters_2" to="/thrusters/front_vertical"/>
           <remap from="/thrusters_0" to="/thrusters/back_left"/>
           <remap from="/thrusters_5" to="/thrusters/back_horizontal"/>
           <remap from="/thrusters_4" to="/thrusters/back_vertical"/>
        </node>
        

        <node pkg="ocam_driver" type="ocam_driver_node" name="camera" output="screen">
           <!-- <param name="device"  value="/dev/video1"/> -->
           <param name="trigger" value="false"/>
           <param name="format" value="Motion-JPEG 640 x 360 25 fps"/>
        </node>


        <node name="thrusters_controllerr" pkg="thrusters_controllers" type="thrusters_controller_node" output="screen" respawn="true">
                <rosparam command="load" file="$(find trionix_new)/config/guppy_thrusters.yaml" />
        </node>

        <node name="pid" pkg="pid_regulator" type="trionix_pid_dynamic.py" output="screen">
                <rosparam command="load" file="$(find trionix_new)/config/guppy_pid.yaml" />
        </node>

        <include file="$(find trionix_web)/launch/web_joy.launch" />

        <node name="teleop" pkg="smtusdb_teleop_tools" type = "trionix_joy_teleop.py" output="screen" />
        <!-- <node name="teleop" pkg="smtusdb_teleop_tools" type="akara_simple_teleop.py" if="$(eval arg('type') == 'simple')" /> -->

</launch>
